
#text1 {
  color: #33aacc;font-size: 5em;font-weight: 1000; position:relative;  left:400px 
}
#form {
;
max-width: 730px;
 position:relative;  left:400px 
}
#list  {
color: #000000;
background-color: #cccccc;
max-width: 730px;
 position:relative;  left:400px 
}
